.card {
  background-color: #333230;
  border-radius: 1rem;
  padding: 1.5rem;
  color: white;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.cardText {
  margin-top: 1rem;
  line-height: 1.5;
}

.expandText {
  font-size: 1.5rem;
  color: #aaa;
  margin-top: 0.5rem;
  display: inline-block;
  text-align: right;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
}

.cardImage {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.cardTitle {
  font-size: 1.25rem;
  font-weight: bold;
}


/* Add this to create a subtle highlight on top */
.card::before {
  content: '';
  position: absolute;
  top: 4px; /* Pull it down a bit */
  left: 4px;
  right: 4px;
  height: 6px;
  border-radius: 0.75rem 0.75rem 0 0;
  z-index: 0; /* ensure it's behind content but still above background */
  pointer-events: none;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Special Gothic Expanded One", sans-serif;
  color: white;
  font-weight: normal;

  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.cardText {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: white;
  font-family: "Special Gothic", sans-serif;
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-bottom: 3em;
  /* Give the image some depth too */
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
}


.card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.2),
    0 12px 0 #333330,
    2.7px 14px 0 2px #d97656;
    
}

.communityBadge {
  display: inline-block;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: "Special Gothic", sans-serif;
  color: white;
  width: fit-content;
}

.leftBadge {
  background-color: #3b82f6; /* Blue */
}

.rightBadge {
  background-color: #ef4444; /* Red */
}

.centerBadge {
  background-color: #f59e0b; /* Amber */
}

.neutralBadge {
  background-color: gray;
}

.badgeRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.sentimentBubble {
  padding: 0.25rem 0.5rem;
  border-radius: 9999px;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
}


.cardText {
  transition: max-height 0.3s ease;
}

.externalLink {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 1.2rem;
  color: #4a90e2;
  text-decoration: none;
  transition: text-decoration 0.2s ease, color 0.2s ease;
}

.externalLink:hover {
  text-decoration: underline;
  color: #2d6cdf;
}




